In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to the SQLite database
connect = sqlite3.connect('uk_accidents.db')

In [3]:
df1 = pd.read_csv('accidents_2005_to_2007.csv')
df2 = pd.read_csv('accidents_2009_to_2011.csv')
df3 = pd.read_csv('accidents_2012_to_2014.csv')

<ipython-input-3-4df79fdb4f6d>:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('accidents_2009_to_2011.csv')

In [4]:
# Concatenate the DataFrames vertically (row-wise)
df_all = pd.concat([df1, df2, df3], axis=0)

# Reset the index of the concatenated DataFrame
df_all.reset_index(drop=True, inplace=True)

In [5]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698418 entries, 0 to 698417
Data columns (total 33 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   Accident_Index                               698418 non-null  object
 1   Location_Easting_OSGR                        698345 non-null  float64
 2   Location_Northing_OSGR                       698345 non-null  float64
 3   Longitude                                    698344 non-null  float64
 4   Latitude                                     698344 non-null  float64
 5   Police_Force                                 698417 non-null  float64
 6   Accident_Severity                            698417 non-null  float64
 7   Number_of_Vehicles                           698417 non-null  float64
 8   Number_of_Casualties                         698417 non-null  float64
 9   Date                                         698417 non-null  object
 10  Day_of_Week                                  698417 non-null  float64
 11  Time                                         698365 non-null  object
 12  Local_Authority_(District)                   698417 non-null  float64
 13  Local_Authority_(Highway)                    698417 non-null  object
 14  1st_Road_Class                               698417 non-null  float64
 15  1st_Road_Number                              698417 non-null  float64
 16  Road_Type                                    698417 non-null  object
 17  Speed_limit                                  698417 non-null  float64
 18  Junction_Detail                              0 non-null       float64
 19  Junction_Control                             431758 non-null  object
 20  2nd_Road_Class                               698417 non-null  object
 21  2nd_Road_Number                              698416 non-null  float64
 22  Pedestrian_Crossing-Human_Control            698401 non-null  object
 23  Pedestrian_Crossing-Physical_Facilities      698393 non-null  object
 24  Light_Conditions                             698415 non-null  object
 25  Weather_Conditions                           698360 non-null  object
 26  Road_Surface_Conditions                      697685 non-null  object
 27  Special_Conditions_at_Site                   698402 non-null  object
 28  Carriageway_Hazards                          698391 non-null  object
 29  Urban_or_Rural_Area                          698415 non-null  float64
 30  Did_Police_Officer_Attend_Scene_of_Accident  697221 non-null  object
 31  LSOA_of_Accident_Location                    662888 non-null  object
 32  Year                                         698415 non-null  float64
dtypes: float64(17), object(16)
memory usage: 175.8+ MB

In [6]:
df_all.columns

Index(['Accident_Index', 'Location_Easting_OSGR', 'Location_Northing_OSGR',
       'Longitude', 'Latitude', 'Police_Force', 'Accident_Severity',
       'Number_of_Vehicles', 'Number_of_Casualties', 'Date', 'Day_of_Week',
       'Time', 'Local_Authority_(District)', 'Local_Authority_(Highway)',
       '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit',
       'Junction_Detail', 'Junction_Control', '2nd_Road_Class',
       '2nd_Road_Number', 'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'LSOA_of_Accident_Location', 'Year'],
      dtype='object')

In [7]:
df_all.head(3)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Year
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1.0,2.0,1.0,1.0,04/01/2005,...,Zebra crossing,Daylight: Street light present,Raining without high winds,Wet/Damp,None,None,1.0,Yes,E01002849,2005.0
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1.0,3.0,1.0,1.0,05/01/2005,...,Pedestrian phase at traffic signal junction,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1.0,Yes,E01002909,2005.0
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1.0,3.0,2.0,1.0,06/01/2005,...,No physical crossing within 50 meters,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1.0,Yes,E01002857,2005.0

In [8]:
# Write the DataFrame to the SQLite database
df_all.to_sql('uk_accidents_table', connect, if_exists='replace', index=False)

698418

### Run SQL queries

In [9]:
# Example: Select all rows from the table
query = "SELECT * FROM uk_accidents_table"
result = pd.read_sql_query(query, connect)

In [10]:
print(type(result))
print(len(result))

<class 'pandas.core.frame.DataFrame'>
698418

In [11]:
# Create a cursor object to execute SQL queries
cursor = connect.cursor()

In [12]:
cursor.execute("PRAGMA table_info('uk_accidents_table')")
result = cursor.fetchall()

#### Check for columns with missing values

In [13]:
column_names = [row[1] for row in result if row[3] == 0]

# Print the column names with null values
print("No of columns with missing values: ", len(column_names))
for column in column_names:
    print(column)

No of columns with missing values:  33
Accident_Index
Location_Easting_OSGR
Location_Northing_OSGR
Longitude
Latitude
Police_Force
Accident_Severity
Number_of_Vehicles
Number_of_Casualties
Date
Day_of_Week
Time
Local_Authority_(District)
Local_Authority_(Highway)
1st_Road_Class
1st_Road_Number
Road_Type
Speed_limit
Junction_Detail
Junction_Control
2nd_Road_Class
2nd_Road_Number
Pedestrian_Crossing-Human_Control
Pedestrian_Crossing-Physical_Facilities
Light_Conditions
Weather_Conditions
Road_Surface_Conditions
Special_Conditions_at_Site
Carriageway_Hazards
Urban_or_Rural_Area
Did_Police_Officer_Attend_Scene_of_Accident
LSOA_of_Accident_Location
Year

#### Check Data Types of each column

In [14]:
# Data Type of each columns
column_types = {key: value for _, key, value, _, _, _ in result}

# Print the column names with null values
for key, value in column_types.items():
    print(key,': ', value)

Accident_Index :  TEXT
Location_Easting_OSGR :  REAL
Location_Northing_OSGR :  REAL
Longitude :  REAL
Latitude :  REAL
Police_Force :  REAL
Accident_Severity :  REAL
Number_of_Vehicles :  REAL
Number_of_Casualties :  REAL
Date :  TEXT
Day_of_Week :  REAL
Time :  TEXT
Local_Authority_(District) :  REAL
Local_Authority_(Highway) :  TEXT
1st_Road_Class :  REAL
1st_Road_Number :  REAL
Road_Type :  TEXT
Speed_limit :  REAL
Junction_Detail :  REAL
Junction_Control :  TEXT
2nd_Road_Class :  TEXT
2nd_Road_Number :  REAL
Pedestrian_Crossing-Human_Control :  TEXT
Pedestrian_Crossing-Physical_Facilities :  TEXT
Light_Conditions :  TEXT
Weather_Conditions :  TEXT
Road_Surface_Conditions :  TEXT
Special_Conditions_at_Site :  TEXT
Carriageway_Hazards :  TEXT
Urban_or_Rural_Area :  REAL
Did_Police_Officer_Attend_Scene_of_Accident :  TEXT
LSOA_of_Accident_Location :  TEXT
Year :  REAL

In [15]:
type(result[1])

tuple

In [16]:
result[1]

(1, 'Location_Easting_OSGR', 'REAL', 0, None, 0)

#### Check number of duplicate rows with same Accident_Index

In [17]:
query = "SELECT Accident_Index, COUNT(*) AS duplicate_count FROM uk_accidents_table GROUP BY Accident_Index HAVING COUNT(*) > 1;"
result = pd.read_sql_query(query, connect)
print(result.head(3))

  Accident_Index  duplicate_count
0    2.00903E+12             1471
1    2.00907E+12             3270
2    2.00912E+12             2345